// Place all the styles related to the Bookshelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './main_scss';

.mini-container {
	display: flex;
	flex-direction: column;
	width: 82px;
	position: fixed;

	.mini-shelves {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 15px;

		img {
			margin-bottom: 15px;
		}

		ul > p {
			text-align: center;
			font-size: 9px;
			padding-top: 4px;
		}

		.delete-shelf {
			height: 20px;
		}
	}

	input {
		background-color: white;
		border: 1px solid black;
	}

	.mini-shelf {
		font-size: 14px;
		font-color: $font-color;
		margin: 0;
		margin-top: 6px;
		display: flex;
		justify-content: space-between;

		.bookshelf-title {
		}

		.fa:hover {

		}

		.bookshelf-title:hover p, .fa:hover {
			color: black;
	   -webkit-text-stroke-width: 1px;
	   -webkit-text-stroke-color: $logo-color;
		}
	}
	


	input {
		margin-bottom: 8px;
		border-radius: 4px;
		border: 1px solid rgba(10, 10, 10, 0.3);
		padding-left: 10px;
		color: $font-color;
		width: 82px;
	}

	.submit-button {
		padding: 2px;
		color: white;
		background-color: $logo-color;
		text-align: center;
	}

	.submit-button:hover {
		background-color: $hover-color;
	}

	hr {
		width: 70%;
		border-style: inset;
	}

	.bookshelf-index {
		margin-bottom: 13px;
	}
	
	.side-bar-books, img {
		box-sizing: border-box;
		height: 130px;
		width: 80px;
		margin-right: 50px;
	}

	.side-bar-books:hover {
		box-shadow: 2px 1px 1px black;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
	}

	.mini-edits {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;

		i {
			color: $font-color;
		}

		i:hover {
			color: $logo-color;
		}
	}
}