// Place all the styles related to the Bookshelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './main_scss';

.mini-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 10%;
	left: 85%;

	.mini-shelves {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 15px;

		img {
			margin-bottom: 15px;
		}

		h2 {
			align-self: center;
		}

		ul > p {
			text-align: center;
			font-size: 9px;
			padding-top: 4px;
		}

		.delete-shelf {
			height: 20px;
		}
	}

	input {
		background-color: white;
		border: 1px solid black;
	}

	.mini-shelf {
		font-size: 14px;
		font-color: $font-color;
		margin: 0;
		margin-top: 6px;
		display: flex;
		justify-content: space-between;

		.bookshelf-title:hover {
			cursor: pointer;
			color: $hover-color;
	   -webkit-text-stroke-width: 1px;
	   -webkit-text-stroke-color: $logo-color;
		}
	}
	
	.bookshelf-create {
		margin-top: 40px;
		display: flex;
		flex-direction: column;

		input {
			margin-bottom: 8px;
			border-radius: 4px;
			border: 1px solid rgba(10, 10, 10, 0.3);
			padding-left: 5%;
			color: $font-color;
		}

		.submit-button {
			padding: 2px;
			color: white;
			background-color: $logo-color;
			text-align: center;
			align-self: center;
			padding-left: 5px;
			padding-right: 5px;
		}

		.submit-button:hover {
			background-color: $hover-color;
		}
		
	}

	hr {
		width: 80%;
		border-style: inset;
	}

	.shelf {
		overflow: auto;

		h3 {
			font-size: 14px;
			text-transform: uppercase;
			text-align: center;
		}

		.side-bar-book-img {
			margin: 20px;
			margin-top: 0px;
			object-fit: contain;
			
			.side-bar-img {

			}

			.side-bar-img:hover {
				box-shadow: 2px 1px 1px black;
		    -webkit-transform: scale(1.1);
		    -moz-transform: scale(1.1);
		    -ms-transform: scale(1.1);
		    -o-transform: scale(1.1);
			}
		}

		.mini-edits {
			position: relative;
			display: flex;
			justify-content: space-around;

		}
	}
}