// Place all the styles related to the Api/Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './main_scss';

.dashboard {
	display: flex;
	padding-top: 120px;

	.dashboard-main {
		display: flex;
		width: 100%;
		
		.side-book-wrap {
			background-color: white;
			position: fixed;
			left: 5%;
			width: 10%;

			.side-book {
				object-fit: contain;
			}

			.side-book:hover {
				box-shadow: 2px 1px 1px black;
			  -webkit-transform: scale(1.1);
			  -moz-transform: scale(1.1);
			  -ms-transform: scale(1.1);
			  -o-transform: scale(1.1);	
			}

			h3 {
				font-size: 12px;
				text-align: center;
			}

			h4 {
				font-size: 11px;
				margin-bottom: 0;
			}

			p {
				font-size: 9px;
				text-align: end;
			}
		}
	}
}