// Place all the styles related to the Api/Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './main_scss';

.show-review {
	margin: 0 auto;
	width: 600px;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	align-content: center;

	.book-container {
		display: flex;

		.show-top {
			flex: 6;
			margin: 30px;

			img {
				object-fit: contain;
			}
		}

		.show-bottom {
			flex: 5;

			.book-title {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-top: 30px;

				p {
					align-self: flex-end;
				}
			}
			.book-summary {
				margin-top: 30px;
				text-indent: 20px;
			}
		}
	}

	.review-form-container {
		margin: 0 auto;
		width: 90%;
		margin-bottom: 30px;

		.review-form {
			background-color: white;
			padding: 30px;
			border-radius: 4px;
			height: 35vh;

			input, textarea {
				margin-bottom: 8px;
				border-radius: 4px;
				border: 1px solid rgba(10, 10, 10, 0.3);
				padding: 8px;
			}

			input {
				padding-top: 4px;
				padding-bottom: 4px;	
				width: 45%;
			}

			textarea {
				width: 96%;
				height: 15vh;
				resize: none;
			}

			.submit-button {
				width: 30%;
				padding: 0;
				color: white;
				background-color: $logo-color;
				text-align: center;
			}

			.submit-button:hover {
				background-color: $hover-color;
			}
		}

	}

	.reviews {
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		.review-container {
			padding: 20px;
			background-color: white;
			border-radius: 4px;
			margin-bottom: 30px;

			.review-header {
				display: flex;
				flex-direction: column;

				.review-author {
					align-self: flex-end;
				}
			}
		}

		hr {
			width: 70%;
			border-style: inset;
			margin: 0 auto;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
}