// Place all the styles related to the api/Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './main_scss';


.landing-page {
	background-image: url("https://i2-prod.cambridge-news.co.uk/incoming/article12572001.ece/ALTERNATES/s1200/Getty-books.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.session-form-container {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	margin-right: 200px;
	margin-bottom: 200px;
	width: 375px;
	height: 375px;
	color: $font-color;

	.session-head {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		font-size: 30px;
		margin-bottom: 20px;

		p {
			color: $logo-color;
		}
	}

	.session-form {
		display: flex;
		flex-direction: column;
		margin: 0 auto;

		input {
			margin-bottom: 8px;
			border-radius: 4px;
			border: 1px solid rgba(10, 10, 10, 0.3);
			padding-left: 11px;
		}

		.submit-button {
			padding: 0;
			color: white;
			background-color: $logo-color;
			text-align: center;
		}

		.submit-button:hover {
			background-color: $hover-color;
		}
	}

	.demo-button {
		color: white;
		background-color: $logo-color;
		padding: 2px;
		padding-left: 12px;
		padding-right: 12px;
	}

	.demo-button:hover {
		background-color: $hover-color;
	}

	.error-handling {
		margin-bottom: 15px;
		color: $error-color;

		li {
			font-size: 12px;
			text-align: center;
		}
	}
}