// Place all the styles related to the api/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './main_scss';

.nav-bar {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: $border-color;
	background-color: $back-blue;
	color: $logo-color;
	position: fixed;
	z-index: 1;

		a {
			font-size: 36px;
			margin-left: 20px;
		}
}

.nav-center {
	margin: 0;
}

.user-form-container {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: flex-end;
	position: relative;

	form {
		display: flex;
		justify-direction: row;
		align-items: center;
	}

	.nav-links {
		width: 200px;
		display: flex;
		justify-content: space-evenly;
		color: $font-color;
	}

	.nav-links i:hover {
		cursor: pointer;
		color: $logo-color;
	}

	.signout-dropdown {
		margin-top: 2px;
		padding: 15px;
	  display: none;
	  position: absolute;
	  font-size: 14px;
	  white-space: nowrap;
	  background: white;
	  border: 1px solid #ccc;
	  border-bottom-left-radius: 5px;
	  border-bottom-right-radius: 5px;
	  border-top-right-radius: 5px;
	  transition: 0s background-color;
	}

	i:hover .signout-dropdown {
		display: block;
    -webkit-transition-duration: 5s; 
    transition-duration: 5s;
	}
}
