
//background colors
$back-color: rgba(218, 179, 101, 0.5);
$back-blue: #cff1ee;
$non-landing-backdrop: rgba(242, 246, 245, 1);

//border colors
$border-color: 1px solid rgba(252, 255, 255, 1);

//Logo color
$logo-color: #4d4e84;
$hover-color: #707094;

//font colors
$font-color: rgba(132, 118, 108, 0.7);
$search-color: rgba(132, 118, 108, 0.4);
$form-color: rgba(218, 179, 101, 0.5);

//form hover
$form-hover: rgba(218, 179, 101, 1);

//button color
$button-color: rgba(252, 143, 65, 0.8);

//button hover
$button-hover: rgba(252, 143, 65, 1);

//error color
$error-color: #e84f4f;