
//background colors
$back-color: rgba(218, 179, 101, 0.1);
$back-grey: rgba(216, 210, 205, 0.1);

//font colors
$font-color: rgba(132, 118, 108, 0.7);
$form-color: rgba(66, 66, 66, 1);

//border colors
$border-bot: 1px solid rgba(252, 143, 65, 0.4);

//button color
$button-color: rgba(252, 143, 65, 0.8);