
//background colors
$back-color: rgba(218, 179, 101, 0.4);
$back-grey: rgba(216, 210, 205, 0.8);

//font colors
$font-color: rgba(132, 118, 108, 0.7);

//border colors
$border-bot: 1px solid rgba(252, 143, 65, 0.4);
