// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './main_scss';

.books-index {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 500px;
	border: $border-bot;
	margin: 0 auto;
}

.book-title {

}