// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//MAIN PAGE AFTER LOGIN
@import './main_scss';

.index-component {
	padding: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		margin-right: 580px;
		margin-bottom: 2px;
	}
}

.index {
	display: flex;
	justify-content: center;
}

.books-index {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 600px;

	.book-info {
		border: $border-bot;
		background-color: $back-color;
		border-radius: 3px;
		height: 30vh;
		padding: 10px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;

		.book-splash {
			height: 90vh;
			width: 30%;
			padding: 10px;

			.book-title {
				img {
					padding: 15px;
				}
			}
		}

		.book-review {
			display: flex;
			align-content: center;
			flex-direction: column;
			justify-content: space-evenly;
			overflow: auto;
			margin-left: 8px;
			margin-right: 20px;
			width: 70%;

			.book-label {
				display: block;
			}

			.book-summary {
				display: block;
				height: 50px;
				border: $border-bot;
				background-color: $back-grey;
				border-radius: 3px;
			}
		}
	}
}

.single-books {
	height: 400px;
	width: 200px;
	margin-right: 50px;

	img {
		box-sizing: border-box;
		width: 40%;
	}

	.current-reading, .want-to-read {
		padding: 45px;
		height: 35vh;
		border: $border-bot;
		background-color: $back-color;
		box-sizing: border-box;
		border-radius: 3px;
	}

	.current-reading {
		margin-bottom: 30px;
	}
}

.index-bookshelf {
	height: 400px;
	width: 200px;
	margin-left: 50px;
	padding: 45px;
	border: $border-bot;
	background-color: $back-color;
	border-radius: 3px;

	img {
		width: 50%;
	}
}

